<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor</title>
    <link rel="stylesheet" href="./estilos.css">
</head>
<body>
    {{> titulo }}
    {{>  menu  }}
    <div class="paginaCpu">
        <h1> 
            Arquitectura : {{ arquitectura }} Sistema Operativo : {{ SO }}
            Sistema Operativo : {{ sistema }}
        </h1>
        <div class="procesador">
            <div class="cpu">
                 {{#each cpus}}
                    <span> Modelo: {{ this.model}}</span>
                    <span> Frecuencia : {{ this.speed}}</span>
                    <span> IRQ : {{this.times.irq}}</span>
                    <hr/>               
                {{/each}}
            </div> 
           
        </div>
    </div>
    
   
</body>
</html>